:root {
  --black: #0f0d0e;
  --white: #f9f4de;
  --blue: #6dd5ed;
  --purple: #5f00b7;
  --pink: #f600b7;
  --orange: #ff7243;
  --yellow: #f9f871;
  --green: #8cf6af;
  --base-size: 16px;
  --space: 2rem;
  --space-2x: 4rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: var(--base-size);
}

main {
  max-width: 800px;
  margin: var(--space-2x) var(--space) var(--space) var(--space);
}

footer {
  max-width: 400px;
  margin-bottom: calc(var(--space) - 1rem);
  font-weight: 800;
}

.jm {
  display: block;
  height: auto;
  width: 70vw;
  max-width: 375px;
  margin: auto;
  margin-bottom: var(--space);
  border-radius: 50%;
}

.name {
  margin: auto;
  margin-bottom: 1rem;
  color: var(--yellow);
  font-family: "Paytone One", sans-serif;
  font-size: 4rem;
}

.oneliner {
  margin: auto;
  font-size: 2rem;
  font-weight: 800;
}

.role {
  margin: var(--space) auto;
  font-size: 2rem;
  font-weight: 800;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 400px;
  margin: var(--space) auto;
  font-size: 3rem;
}

.description {
  position: relative;
  max-width: 400px;
  margin: auto;
  padding: calc(var(--space) + 1rem);
  font-size: 1.25rem;
}

.description-border {
  position: absolute;
  overflow: visible;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: url(#grad);
  stroke-width: 5px;
}

#grad stop:nth-child(1) {
  stop-color: var(--purple);
}

#grad stop:nth-child(2) {
  stop-color: var(--yellow);
}

.fa-button {
  color: var(--yellow);
  text-decoration: none;
}

.fa-button:focus,
.fa-button:hover,
.fa-button:active {
  color: var(--pink);
}

.link {
  padding: 1.5px;
}

.link:link {
  color: var(--yellow);
}

.link:visited {
  color: var(--orange);
}

.link:focus,
.link:hover,
.link:active {
  margin: 1rem auto;
  background-color: var(--yellow);
  color: var(--black);
  border-bottom: 1px solid;
  border-radius: 5px;
}

/* Styles for language switch */
/* Credit: https://codepen.io/TorabRamin/pen/mqrBBj */

.switch {
  display: inline-block;
  position: relative;
  margin-bottom: var(--space);
}

.switch > span {
  position: absolute;
  top: 10px;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  font-size: 16px;
  pointer-events: none;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: var(--white);
}
.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: var(--white);
}

.toggle {
  position: absolute;
  visibility: hidden;
  margin-left: -9999px;
}
.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
}

#language.toggle-round:not(:checked) ~ .off {
  color: var(--black);
}

#language.toggle-round:checked ~ .on {
  color: var(--black);
}

#language.toggle-round + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: var(--yellow);
  border-radius: 60px;
}
#language.toggle-round + label:before,
#language.toggle-round + label:after {
  display: block;
  position: absolute;
  content: "";
}

#language.toggle-round + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--yellow);
  border-radius: 60px;
}
#language.toggle-round + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: var(--purple);
  border-radius: 52px;
  transition: margin 0.2s;
}
#language.toggle-round:checked + label:after {
  margin-left: 44px;
}
